body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    margin-top: 50px auto none auto;
    color: rgb(6, 116, 131);
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
    color: rgba(52, 159, 201, 0.952);
}


h3{
    font-family: 'Montserrat', sans-serif;
}

.h3 {
    color: rgb(38, 182, 248);
}

.top-container {

   background-color: #EAF6F6;
   padding-top: 100px;

}

.my-skills {
    font-size: 30px;
}


.intro {
    color: #7b4ea8;
    margin:10px auto 40px auto;
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    width: 50%;
}


.hey {
    color: #3d0b63;
    font-size: 30px;
}

.me {
    margin-top: 30px;
    margin-bottom: 20px;
}



.Skill-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-2 {
    width: 25%;
    float: right;
    margin-left: 20px;
}


.bottom-cloud{
    position: absolute;
}

.top-cloud {
    position: relative;
    left: 200px;
}

.partition {
    border-style: dotted none none;
    border-color: rgb(166, 214, 214);
    border-width: 10px;
    width: 6%;
}


.skill-row {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}


.contact-me {
    width: 50%;
    margin: 70px auto 10px auto;
    color: #0F044C;
}

.edit {
    margin: 40px auto 40px auto;
    color: #11999E;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Courier New;
    font-size: 20px;
    padding: 10px;
    -webkit-box-shadow: 0 0 0 0 #FFFFFF;
    -moz-box-shadow: 0 0 0 0 #FFFFFF;
    box-shadow: 0 0 0 0 #FFFFFF;
    text-shadow: 0 0 0 #FFFFFF;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }


 .bottom-container {
     background-color: #66bfbf;
     margin-top: 100px;
     padding: 50px 0 20px;
 }


 a {
     color: #11999E;
     font-family: 'Montserrat', sans-serif;
     margin: 10px 20px;
     text-decoration: none;
 }

 a:hover {
     color: #EAF6F6;
 }

 .copyright {
     color: #eaf6f6;
     font-size: 0.756rem;
     padding: 20px 0;
 }